
<hr class="border-top border-info border-3 opacity-75">
<div class="px-2">
    <hr class="border-top border-info border-2 opacity-50">
</div>
<div class="px-4">
    <hr class="border-top border-info border-1 opacity-50">
</div>


<br>
<br>
<section class="mt-10">
    <h2 class="text-center">How to Use</h2>
    <p>Welcome to our Code Generator tool! Follow these simple steps to generate code solutions:</p>
    <ol>
        <li><strong>Enter your query:</strong> In the input field provided, type your coding problem or query. For example, you can enter "Fibonacci series" or "Factorial of a number".</li>
        <li><strong>Select the language:</strong> Choose the programming language in which you want to generate code from the dropdown menu. Options include C++, Java, JavaScript, Python, C, and C#.</li>
        <li><strong>Submit:</strong> Click the "Submit" button to generate code solutions for your query.</li>
    </ol>
    <p>Here are some example queries you can try:</p>
    <ul>
        <li>Finding the maximum element in an array</li>
        <li>Sorting an array of integers</li>
        <li>Calculating the factorial of a number</li>
    </ul>
    <p>For best results, ensure your query is clear and concise. If you encounter any issues or have questions, feel free to reach out to our support team.</p>

    
</section>

<section class="mt-5">
    <h2 class="text-center">Supported Languages</h2>
    <div class="row">
        
        <div class="col-md-4 mt-4">
            <div class="card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/200px-ISO_C%2B%2B_Logo.svg.png"  class="card-img-top img-fluid lang-img" alt="C++">
                <div class="card-body" >
                    <h5 class="card-title">C++</h5>
                    <p class="card-text">C++ is a powerful and versatile programming language used for system software, game development, and more.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mt-4">
            <div class="card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/200px-Java_programming_language_logo.svg.png" class="card-img-top img-fluid lang-img" alt="Java">
                <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Java: A widely embraced, object-oriented language recognized for its portability and scalability across diverse applications.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" class="card-img-top img-fluid lang-img" alt="JavaScript">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">JavaScript: An essential and flexible scripting language, pivotal in shaping modern web and server site experiences.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" class="card-img-top img-fluid lang-img" alt="Python">
                <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Python: it stands out for its user-friendly syntax, extensive library ecosystem, versatility across various domains, for developers a wide range of applications in data science, automation, and more.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/C_Sharp_wordmark.svg" class="card-img-top img-fluid lang-img" alt="C#">
                <div class="card-body">
                    <h5 class="card-title">C#</h5>
                    <p class="card-text">C# is an elegant and type-safe object-oriented programming language developed by Microsoft. It's widely used for building desktop, web, and mobile applications.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card card d-flex flex-row justify-content-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/The_C_Programming_Language_logo.svg" class="card-img-top img-fluid lang-img" alt="C">
                <div class="card-body">
                    <h5 class="card-title">C</h5>
                    <p class="card-text">C: A foundational programming language renowned for its efficiency and versatility in developing system software, embedded applications, and more.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="mt-5">
    <div class="container mt-5">
        <h2 class="text-center mb-3">How Code Generator Works</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-primary text-light text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-pencil-alt"></i> Query Prompt</h5>
                        <p class="card-text">Users input their coding query or problem into the query prompt provided on our website, enabling precise code generation tailored to their needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-success text-light text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-robot"></i> AI Solution Generator</h5>
                        <p class="card-text">Our advanced AI algorithm analyzes the query and generates precise coding solutions tailored to the user's needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-warning text-dark text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-code"></i> Language Flexibility</h5>
                        <p class="card-text">Users can choose from a variety of programming languages, ensuring that they receive solutions in the language of their choice.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-info text-light text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-layer-group"></i> Multiple Solutions</h5>
                        <p class="card-text">Our AI doesn't stop at just one solution! It provides users with three different solutions, allowing them to explore various approaches.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-danger text-light text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-link"></i> Easy Integration</h5>
                        <p class="card-text">Users can easily integrate the generated solutions into their Projects or Code, it saving time and effort in coding.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-face bg-custom-secondary text-light text-center">
                    <div class="card-body card-details">
                        <h5 class="card-title"><i class="fas fa-users"></i> Support & Community</h5>
                        <p class="card-text">We provide comprehensive support and foster a vibrant community where users can share insights and collaborate with fellow developers.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">Experience the simplicity and efficiency of coding with <strong>Code Generator</strong> today!</p>
    </div>
    
    
    
</section>