<br>
<footer class="footer mt-5 bg-dark text-white py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About My Website</h5>
                <p>Welcome to Code Generator, where AI delivers tailored coding solutions. Get precise answers in various languages, with three solutions to choose from. Simplify your coding journey with us today!</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Connect With Me</h5>
                <div class="social-icons">
            <a href="https://www.linkedin.com/in/lackyk9j/" target="_blank" class="social-icon"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/LackyKannauje/" target="_blank" class="social-icon"><i class="fab fa-github fa-2x"></i></a>
            <!-- <a href="mailto:lackykannauje@gmail.com" class="social-icon"><i class="fas fa-envelope fa-2x"></i></a> -->
            <a href="https://twitter.com/LackyKannauje/" target="_blank" class="social-icon"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/lacky_kannauje/" target="_blank" class="social-icon"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:lackykannauje@gmail.com" style="text-decoration: none;">lackykannauje@gmail.com</a><br>Phone: +91 8234012896</p>
            </div>
        </div>
        <hr class="my-4">
        <p>&copy; 2024 Code Generator Website. All rights reserved.</p>
    </div>
</footer>